// 标题
.cu-bar .action.border-title text[class*="bg-"]:last-child {
  left: 0.5em;
  border-radius: 2px;
  min-width: 0;
}

// 按钮
.cu-btn {
  &.clear {
    background-color: transparent;
  }

  &.lg {
    min-width: 8em;
  }

  &.mini {
    width: 32upx;
    height: 32upx;
    font-size: 20upx;
  }
}

/* #ifdef  H5 */
// 复选框,单选框有时是蓝色的
checkbox:not([disabled]) .uni-checkbox-input:hover,
radio:not([disabled]) .uni-radio-input:hover {
  border-color: #d1d1d1;
}
/* #endif */

// 单选按钮点状样式调整
radio.radio[checked]::after,radio.radio .uni-radio-input-checked::after{
  width: 20upx;
  height: 20upx;
  border-width: 10upx!important;
}

// 背景层级过高
radio.radio[checked]::after, radio.radio .uni-radio-input-checked::after{
  z-index: 1;
}

// 图片上传
.grid.grid-square {
  > view.bg-img video {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  // 图片上传关闭按钮
  .cu-tag {
    &.bg-red {
      background: var(--red);
      z-index: 2;
    }
  }
}

// 边框
.solids.s-dashed:after {
  border-style: dashed;
}

// 表单控件
.border-form{
  .cu-form-group{
    border-top: 1upx solid #eee;
  }
}
.cu-form-group {
  .title {
    &.required {
      position: relative;

      &:before {
        content: '*';
        display: block;
        position: absolute;
        color: var(--red);
        top: 0;
        right: 100%;
        margin-right: 2px;
      }
    }
  }

  // picker样式拓展
  .cu-picker {
    flex: 1;
    padding-right: 40upx;
    overflow: hidden;
    position: relative;

    .picker {
      line-height: 100upx;
      font-size: 28upx;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-align: right;
    }

    &:after {
      font-family: "cuIcon";
      display: block;
      content: "\e6a3";
      position: absolute;
      font-size: 34upx;
      color: #8799a3;
      line-height: 100upx;
      width: 60upx;
      text-align: center;
      top: 0;
      bottom: 0;
      right: -20upx;
      margin: auto;
    }
  }

  // 可以换行的表单控件
  &.cu--form-group-wrap {
    flex-wrap: wrap;

    // 换行后标题保持原高度行高
    .title {
      height: 100upx;
      line-height: 100upx;
    }

    // 占满主轴,换行
    .action {
      flex-basis: 100%;
      flex-shrink: 0;
      width: 100%;
    }
  }

}

// 列表
.cu-list > .cu-item .move {
  // 左滑列表
  top: 0;
}

.bg-white{
  color: inherit;
}