@import "variables";
@import "~sx-common-css/mixin/index";


/*公共css变量*/
@import "css-variables";

/*每个页面公共css */
page {
  height: 100%;
  min-height: 100vh;
  font-size: $font-base;
  background: $color-background;
}
