
/**
 * 通用变量
 */

// 颜色
$color-white: #FFFFFF;
$color-yellow: #FFB700;
$color-blue: #007aff;
$color-dark: #000000;
$color-light-gray: #E5E5E5;
$color-green: #4CD964;
$color-red: #D81E06;

// 背景色设置
$color-background: #FAFAFA;


/**
 * 覆盖通用样式库(sx-common-css)的变量
 */

// 边距大小
$spacing-extra-small: 8upx;
$spacing-small: 16upx;
$spacing-base: 28upx;
$spacing-medium: 40upx;
$spacing-large: 60upx;
$spacing-extra-large: 100upx;

// 圆角大小
$radius-small: 4upx !default;
$radius-base: 8upx !default;
$radius-large: 24upx !default;
$radius-circle: 50% !default;

// 阴影
$shadow-small: 0 0 4upx 2upx rgba(0, 0, 0, 0.05) !default;
$shadow-base: 0 0 6upx 2upx rgba(0, 0, 0, 0.05) !default;
$shadow-large: 0 0 12upx 2upx rgba(0, 0, 0, 0.1) !default;

// 字体大小
$font-extra-small: 24upx;
$font-small: 28upx;
$font-base: 32upx;
$font-medium: 36upx;
$font-large: 40upx;
$font-extra-large: 48upx;
